{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react/",
    "",
    "^(react|react-native|react-redux)$",
    "",
    "^(react-native-[a-zA-Z0-9-]+)$",
    "",
    "^#hooks/redux/",
    "",
    "^@/",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<ABSOLUTE_MODULE>",
    "",
    "^#env",
    "",
    "^#assets",
    "",
    "^#components",
    "",
    "^#screens",
    "",
    "^#navigation",
    "",
    "^#localization",
    "",
    "^#api",
    "",
    "^#services",
    "",
    "^#config",
    "",
    "^#hooks",
    "",
    "^#utils",
    "",
    "^#style/",
    "",
    "^#store",
    "",
    "^#generated",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "importOrderParserPlugins": ["typescript", "jsx", "tsx", "decorators-legacy"]
}
